* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #ffffff;
}
/*-------------------header---------------------------*/
header {
  color: #ffffff;
}
nav {
  background-color: #dd5555;
  height: 52px;
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 131px;
}
.container-img {
  height: 658px;
  background-image: url("./images/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-content {
  text-align: center;
}
h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.box-content p {
  font-size: 28px;
  margin-bottom: 30px;
}
.box-btn-header {
  border-top: 1px solid #ffffff;
  display: flex;
  gap: 28px;
}
.btn-header {
  background-color: #ffffff;
  color: #2e2e2e;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
}
.img-btn {
  margin-right: 10px;
  width: 16px;
}
/*----------------------------------service--------------------------------*/
.box-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-service {
  color: #2e2e2e;
  font-size: 28px;
  font-weight: bold;
  margin-top: 52px;
  margin-bottom: 7px;
}
.card-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-img {
  background-color: #dd5555;
  padding: 25px 32px;
  border-radius: 50%;
  width: 120px;
  margin-bottom: -30px;
}
.content-service {
  width: 358px;
}
.content-service {
  font-size: 16px;
  text-align: center;
}
/*------------------------responsive-----------------------------*/
@media screen and (max-width: 400px) {
  .lien-menu {
    display: none;
  }
  .menu {
    margin: 20px;
  }
  .box-btn-header {
    flex-direction: column;
    width: 112px;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin: 0 auto;
  }
}
